/*TODO: refer to naming conventions
TODO: 
Read https://medium.com/free-code-camp/css-naming-conventions-that-will-save-you-hours-of-debugging-35cea737d849
https://www.makeuseof.com/css-class-and-id-best-naming-practices/

Watch: UI palette - https://www.youtube.com/watch?v=yYwEnLYT55c&t=396s
       60-30-10 - https://www.youtube.com/watch?v=UWwNIMHFdW4
*/

/*TODO: Make it mobile friendly and interactive*/

/*Color Palettes:
    - 60%  #FAF0E4
    - 30%  #219C90 
    - 10%  #D83F31 

Others:
      - #E9B824 and #EE9322  */
    
     html
      {
        max-width: 100%;
        
        
      }

    


      body 
      {   max-width:100%;
          
          background-color:#FAF0E4;
          /*background-repeat: no-repeat;
          background-attachment: fixed;*/
          color:#219C90;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
             
      }
      
      h1
      {   max-width:100%;
          height:auto;
          font-family: Arial, Helvetica, sans-serif;
          color: #E9B824;
          text-align: center;
          font-size: 47px;
          margin:0;
          
         
      }
      
      
      .invite
      
      {   
         /* border-radius:20px;
          
          height: 300px;
          background-color:#219C90;
          font-family: Arial, Helvetica, sans-serif;
          color: #E9B824;
          text-align: center;
          text-shadow: 0 0 3px #EE9322, 0 0 5px #D83F31;
        
          max-width:100%;
          font-size: 3vw;
          box-sizing: border-box;
          width:100%;
          float:inline-start;
          flex-wrap: column;
        */margin: 0px;
        padding: 40px;
        text-align: justify;
        line-height: 60px;
        font-size: 30px;
        max-width:100%;
        text-align:center;
        color: #E9B824;
        text-shadow: 0 0 3px #EE9322, 0 0 5px #D83F31;
        background-color:#219C90;
        border-radius:20px;
        box-shadow: 5px 10px 10px #888888


      }

      h2 
      {
        font-size: 20px;
      }
      
      p.invite__greeting
      {
        margin-top:30px;
      }
     
      .intro 
      {
          margin: 0px;
          padding: 20px 40px 20px 50px;
          text-align: justify;
          line-height: 30px;
          font-size: 15px;
          max-width:100%;
         
      }
      
    

      .rules, .rules__click{
        display:flex;
          position:relative;
          cursor:pointer;
          background-color: #D83F31;
          color:#E9B824;
          margin: 0px;
          padding-left: 10px;
          width:100px;
          text-align: center;
          border-radius: 20px;
          box-shadow: 5px 5px 5px #888888
      }
      
      .rules--hide {
          color:#219C90;
          display:none;
          
          position:relative;
          margin:0px;
          border:0px;
          padding:0px;
          
         
      }
      
      .rules:focus + .rules--hide{
         display: block;
          
      }
      
      .rules__acronym{
          color:#EE9322;
      }
      
      .play_area {
        padding:40px;
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
        justify-content: center;
      }

      .word_area 
      {
        padding: 0px;
        
        margin-bottom: 90px;
      }
      .word--display {
        
          text-align: center;
          position: relative;
          max-width: 100%;
          
          font-size:30px;
          background-color:transparent;
          color: #E9B824;
          font-weight: bold;
          border-radius: 10px;
          padding: 10px;
          border:50px;
          margin-bottom: 20px;
         
      }
      
      .word--display__box{
            
          padding: 20px 50px 20px 50px;
          font-size:40px;
          background-color:#219C90;
          border-color: transparent;
          color: #E9B824;
          text-shadow: 0 0 3px #EE9322, 0 0 5px #D83F31;
          font-weight: bold;
          margin: 0px;
            
          border-radius: 10px;
          box-shadow: 5px 10px 18px #888888
          
           
      }
      
    
      .word--display__style, {
          text-align: center;
        font-size: 50px;
          border-radius: 20px;
          text-shadow: 0 0 3px #EE9322, 0 0 5px #D83F31;
          
          font-size:30px;
          border:20px;
      }
      
      .number--display

      {
       text-align: center;
       position: relative;
       max-width: 100%;
       font-size:30px;
      
       color: #E9B824;
       font-weight: bold;
       border-radius: 10px;
       margin-bottom:20px;
      }

      .number--display__box
      {
        padding: 20px 50px 20px 50px;
          font-size:40px;
          background-color:#219C90;
          color: #E9B824;
          
          font-weight: bold;
          border-radius: 10px;
          margin: 0px;
          padding: 30px 70px 20px 70px;
          box-shadow: 5px 10px 18px #888888
      }

      .number--display__style
      {
        text-align: center;
        font-size: 50px;
        border-radius: 20px;
        text-shadow: 0 0 3px #EE9322, 0 0 5px #D83F31;
          
          font-size:30px;
          border:20px;

      }

    
      .word--click {
         
          text-align: center;
          
          margin:0px;
          border: 0px;
          text-align: center;
          
        
      }
      
      .number--click {
         
        text-align: center;
         margin:0px;
        border: 0px;
        text-align: center;
        
      
    }
      .word--click_new-word{
          padding: 10px;
          font-size:20px;
          background-color:#D83F31;
          color: #E9B824;
          font-weight: bold;
          border-radius: 10px;
          margin: 0px;
          border:0px;
          max-width:100%
      }
      
   
      .number--click_new-number
      {
        padding: 10px;
        font-size:20px;
        background-color:#D83F31;
        color: #E9B824;
        font-weight: bold;
        border-radius: 10px;
        margin: 0px;
        border:0px;
        max-width:100%
    }