/*TODO: refer to naming conventions
TODO: Read https://medium.com/free-code-camp/css-naming-conventions-that-will-save-you-hours-of-debugging-35cea737d849
https://www.makeuseof.com/css-class-and-id-best-naming-practices/
*/

html 
{
    height : 100%
}

body 
{
    height: 100%;
    background-image: linear-gradient(to bottom,#657AD0,#1C98C2,#EDBBCE);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

h1 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:7rem;
    color: #ffc18e;
    text-align: center;
}

.d1-greeting 

{
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    
}

.d2-game-intro {
    margin: 40px;
    padding: 40px;
    text-align: justify;
    line-height: 2rem;
    border: 5px solid white;
    border-radius: 20px;
    
}

.acronym {
    color:#3F0600;
}


