html {
    height : 100%
}

body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(to bottom,#657AD0,#1C98C2,#EDBBCE);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}